.d-bloc .navbar-toggle .icon-bar,
body {
  background: #fff;
}
.bloc .container,
.row.row-no-gutters > [class*=" col-"],
.row.row-no-gutters > [class^="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.nav-center .navbar-brand img,
body {
  margin: 0;
}
a,
button {
  outline: 0 !important;
}
body {
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a,
button {
  transition: 0.3s ease-in-out;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
.bloc {
  width: 100%;
  clear: both;
  background: 50% 50% / cover no-repeat;
  padding: 0 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.bloc-lg {
  padding: 100px 50px;
}
.bloc-md {
  padding: 50px;
}
.bloc-sm {
  padding: 20px 50px;
}
.bg-center,
.bg-repeat {
  -webkit-background-size: auto !important;
  -moz-background-size: auto !important;
  -o-background-size: auto !important;
  background-size: auto !important;
}
.bg-repeat,
.nav > li a:focus,
.nav > li a:hover {
  background: 0 0;
}
.bloc-bg-texture::before {
  content: "";
  background-size: 2px 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.texture-paper::before {
  background: url("img/newphotos/texture-paper.webp") 0 0/280px 280px;
}
.nav > li > .dropdown a,
.navbar-toggle:hover {
  background: 0 0 !important;
}
.b-parallax {
  background-attachment: fixed;
}
.d-bloc,
.d-bloc .a-btn:hover,
.d-bloc .navbar a:hover,
.d-bloc .navbar-brand:hover,
.d-bloc a:hover .icon-lg,
.d-bloc a:hover .icon-md,
.d-bloc a:hover .icon-sm,
.d-bloc h1 a:hover,
.d-bloc h2 a:hover,
.d-bloc h3 a:hover,
.d-bloc h4 a:hover,
.d-bloc h5 a:hover,
.d-bloc h6 a:hover,
.d-bloc p a:hover,
.tc-white,
a {
  color: #fff;
}
.l-bloc,
.l-bloc .a-btn:hover,
.l-bloc .navbar a:hover,
.l-bloc .navbar-brand:hover,
.l-bloc a:hover .icon-lg,
.l-bloc a:hover .icon-md,
.l-bloc a:hover .icon-sm,
.l-bloc h1 a:hover,
.l-bloc h2 a:hover,
.l-bloc h3 a:hover,
.l-bloc h4 a:hover,
.l-bloc h5 a:hover,
.l-bloc h6 a:hover,
.l-bloc p a:hover,
p {
  color: #000;
}
.d-bloc button:hover {
  color: rgba(255, 255, 255, 0.9);
}
.d-bloc .a-btn,
.d-bloc .navbar a,
.d-bloc .navbar-brand,
.d-bloc a .icon-lg,
.d-bloc a .icon-md,
.d-bloc a .icon-sm,
.d-bloc h1 a,
.d-bloc h2 a,
.d-bloc h3 a,
.d-bloc h4 a,
.d-bloc h5 a,
.d-bloc h6 a,
.d-bloc p a {
  color: rgba(255, 255, 255, 0.6);
}
.l-bloc button:hover {
  color: rgba(0, 0, 0, 0.7);
}
.l-bloc .a-btn,
.l-bloc .navbar a,
.l-bloc .navbar-brand,
.l-bloc a .icon-lg,
.l-bloc a .icon-md,
.l-bloc a .icon-sm,
.l-bloc h1 a,
.l-bloc h2 a,
.l-bloc h3 a,
.l-bloc h4 a,
.l-bloc h5 a,
.l-bloc h6 a,
.l-bloc p a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.l-bloc .navbar-toggle .icon-bar {
  color: rgba(0, 0, 0, 0.6);
}
.voffset {
  margin-top: 30px;
}
.voffset-lg {
  margin-top: 80px;
}
.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  justify-content: space-evenly;
}
.navbar {
  margin-bottom: 0;
  z-index: 1;
}
.navbar-brand {
  height: auto;
  padding: 3px 15px;
  font-size: 25px;
  font-weight: 600;
  line-height: 44px;
}
.navbar-brand img {
  max-height: 200px;
  margin: 0 5px 0 0;
  display: inline;
}
.navbar-brand img[src$="svg"] {
  min-width: 100px;
}
.navbar .nav {
  padding-top: 2px;
  margin-right: -16px;
  float: right;
  z-index: 1;
}
.nav > li {
  float: left;
  margin-top: 4px;
  font-size: 16px;
}
.navbar-toggle {
  margin: 10px 10px 0 0;
  border: 0;
}
.mg-lg,
.mg-md {
  margin-top: 10px;
}
.navbar-toggle .icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 26px;
}
@media (min-width: 768px) {
  .site-navigation {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    -webkit-transform: translateY(-50%);
  }
  .nav-center {
    text-align: center;
  }
  .nav-center .navbar-header {
    width: 100%;
  }
  .nav-center .nav > li,
  .nav-center .navbar-brand,
  .nav-center .navbar-header {
    float: none;
    display: inline-block;
  }
  .nav-center .site-navigation {
    position: relative;
    width: 100%;
    right: 0;
    margin-right: 0;
    margin-top: 20px;
  }
}
.nav > li > .dropdown a {
  display: block;
  padding: 14px 15px;
}
.mg-md {
  margin-bottom: 20px;
}
.mg-lg {
  margin-bottom: 40px;
}
.btn {
  margin: 0 5px 5px 0;
}
.btn-d,
.btn-d:focus,
.btn-d:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}
.btn-rd {
  border-radius: 40px;
}
input {
  width: 100%;
  height: 40px;
}
.btn-clean {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom-color: rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 1, 0.25),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}
.icon-md {
  font-size: 30px !important;
}
.icon-lg {
  font-size: 60px !important;
}
.sm-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.moving-row {
  margin-left: 300px;
}
a[data-lightbox] {
  position: relative;
  display: block;
  text-align: center;
}
a[data-lightbox]:hover::before {
  content: "+";
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial;
  font-size: 32px;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: 100;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
a[data-lightbox]:hover img {
  opacity: 0.6;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}
.lightbox-caption {
  padding: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 5px;
}
.snapshot-lb .lightbox-caption {
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  background: 0 0;
}
p {
  font-size: 14px;
}
.text-to-edit {
  font-size: 28px;
  margin-bottom: 30px;
  line-height: 130%;
}
.quoting {
  font-size: 28px;
  margin-left: 100px;
}
.move-part-of-quote {
  padding-left: 200px;
  line-height: 140%;
}
.moving-words {
  margin-left: 140px;
}
.photo-to-text {
  margin-left: 40px;
}
.color-for-word {
  font-weight: bolder;
}
.label {
  color: #585858;
}
.btn,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: helvetica;
  font-weight: 400;
  color: #e2e2e2;
}
.cta-hero,
h3 {
  font-weight: 700;
}
h3,
h4 {
  color: #333 !important;
}
.cta-hero,
.ltc-white,
.white {
  color: #fff !important;
}
.container {
  max-width: 1000px;
}
.hero-bloc-text {
  font-size: 38px;
}
.tight-width-whitespace {
  max-width: 600px;
  margin: auto;
}
.h1 {
  font-size: 20px;
  font-family: "Open Sans";
}
.cta-hero {
  margin-top: 22px;
  margin-bottom: 22px;
  text-transform: uppercase;
  padding: 12px 28px;
  font-size: 1em;
}
.social {
  max-width: 400px;
  margin: auto;
}
h2 {
  font-size: 22px;
  line-height: 1.4em;
}
.service-header,
h3 {
  font-size: 15px;
  text-transform: uppercase;
}
.med-width-whitespace {
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 0 #000;
}
.icons {
  margin-bottom: 14px;
  margin-top: 24px;
}
.portfolio-thumb {
  margin-bottom: 24px;
}
.portfolio-row {
  margin-bottom: 44px;
  margin-top: 50px;
}
.black-background {
  background-color: rgba(35, 31, 32, 0.7);
  padding: 40px;
}
.bold-link {
  font-weight: 900;
  text-decoration: underline !important;
}
.service-header {
  font-weight: 700;
}
.bgc-white {
  background-color: #fff;
}
.bgc-dark-slate-blue {
  background-color: #364577;
}
.bgc-atomic-tangerine {
  background-color: #f3976c;
}
.btn-atomic-tangerine {
  background: #f3976c;
  color: #232323 !important;
  text-decoration: none;
}
.btn-atomic-tangerine:hover {
  background: #c27956 !important;
  color: #fff !important;
}
.ltc-white:hover {
  color: #ccc !important;
}
.ltc-atomic-tangerine {
  color: #d54400 !important;
}
.ltc-atomic-tangerine:hover {
  color: #c27956 !important;
}
.icon-dark-slate-blue {
  color: #364577 !important;
  border-color: #364577 !important;
}
.bg-lines-h2-bg {
  background-image: url("img/newphotos/lines-h2-bg.webp");
}
.bg-atlanta-20made-20sign {
  background-image: url("img/newphotos/atlanta\ made\ sign\ Large.jpeg");
}
.bg-atlanta-20made-20sign-20orange {
  background-image: url("img/newphotos/atlanta\ made\ sign\ orange\ Large.jpeg");
}
@media (max-width: 1024px) {
  .bloc {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .navbar .nav {
    max-width: 80%;
  }
  .nav-center.navbar .nav {
    max-width: 100%;
  }
  .moving-words {
    margin-left: 0;
  }
  .quoting {
    font-size: 28px;
    margin-left: 80px;
  }
  .move-part-of-quote {
    padding-left: 0;
    line-height: 0;
  }
  .moving-row {
    margin-left: 180px;
  }
  .col-sm-24 {
    width: 54%;
    margin-left: 0;
  }
  .col-sm-23 {
    width: 60%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .b-parallax {
    background-attachment: scroll;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .b-parallax {
    background-attachment: scroll;
  }
}
@media (max-width: 991px) {
  .container {
    width: 100%;
  }
  .b-parallax {
    background-attachment: scroll;
  }
  #hero-bloc,
  .page-container {
    overflow-x: hidden;
    position: relative;
  }
  .bloc {
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
  }
}
@media (max-width: 767px) {
  .quoting,
  .text-to-edit {
    font-size: 24px;
  }

  img {
    border: 0;
    margin-left: 0px;
}
  .page-container {
    overflow-x: hidden;
    position: relative;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .photo-to-text {
    margin-left: 24px;
  }
  .photo-to-quote {
    padding-left: 11px;
  }
  .quoting {
    margin-left: 43px;
  }
  .move-part-of-quote {
    padding-left: 0;
    line-height: 0;
  }
  .col-sm-23 {
    margin-left: 26%;
  }
  .col-sm-24,
  .moving-row,
  .moving-words,
  .navbar.row {
    margin-left: 0;
  }
  .cta-hero {
    margin-top: 22px;
    margin-bottom: 22px;
    color: #232323 !important;
    text-transform: uppercase;
    padding: 12px 28px;
    font-size: 1em;
    font-weight: 700;
    width: 64%;
  }
  input {
    width: 63%;
    height: 30px;
    border-radius: 4px;
  }
  .col-sm-24 {
    width: 100%;
  }
  .b-parallax {
    background-attachment: scroll;
  }
  .navbar .nav {
    padding-top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    float: none !important;
  }
  .navbar.row {
    margin-right: 0;
  }
  .site-navigation {
    position: inherit;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
  }
  .nav > li {
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.05);
    text-align: left;
    padding-left: 15px;
    width: 100%;
  }
  .nav > li:hover {
    background: rgba(0, 0, 0, 0.08);
  }
  #hero-bloc .navbar .nav {
    background: rgba(0, 0, 0, 0.8);
  }
  #hero-bloc .navbar .nav a {
    color: rgba(255, 255, 255, 0.6);
  }
  .hero {
    padding: 50px 0;
  }
  .hero-nav {
    left: -1px;
    right: -1px;
  }
  .navbar-collapse {
    padding: 0;
    overflow-x: hidden;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-brand img {
    max-height: 40px;
    width: auto;
  }
  .bloc,
  .bloc-md,
  .bloc-sm {
    padding-left: 0;
    padding-right: 0;
  }
  .bloc-lg {
    padding: 40px 0;
  }
  .a-block {
    padding: 0 10px;
  }
  .voffset {
    margin-top: 5px;
  }
  .voffset-md {
    margin-top: 20px;
  }
  .voffset-lg {
    margin-top: 30px;
  }
}
@media (max-width: 400px) {
  .bloc {
    padding-left: 0;
    padding-right: 0;
  }
  .black-background {
    background-color: rgba(35, 31, 32, 0.7);
    padding: 0;
  }
}
